pkgbase = python-markupsafe
	pkgdesc = Implements a XML/HTML/XHTML Markup safe string for Python
	pkgver = 2.1.4
	pkgrel = 1
	url = https://pypi.python.org/pypi/MarkupSafe
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/pallets/markupsafe.git#commit=b7cd6523579ea5a08d89799f2a64ec2c2bc45eca
	sha512sums = SKIP

pkgname = python-markupsafe
